body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #e0e0e0;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f9f9f9;
}

img {
    width: 75%;
    height: auto;
}
