@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --paragraph-font: 'Roboto', serif; 
    --heading-font: 'Roboto', serif;   
}

nav {
    background-color: rgb(222, 184, 12);
    padding: 1rem;
    display: flex; /* Use flexbox */
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
p {
    padding: 10px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #c6e1c1;
    color: #333;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
main img {
    border-radius: 5px;
    width: 150px; /* Added unit */
    height: auto;
    border: 1px solid rgb(39, 36, 0);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p { 
    font-family: var(--paragraph-font);
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #c6e1c1;
    color: #333;
    text-align: center;
}



.hero {
    position: relative;
}

.hero-content {
    position: relative;
}

.customer-feedback {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    max-width: 50%; /* Adjust as needed */
}

.customer-feedback img {
    max-width: 100%; /* Ensure image does not overflow the container */
    display: block;
    margin-bottom: 10px; /* Add some space below the image */
}

.customer-feedback p {
    color: #ffffff; /* Adjust text color as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Add rounded corners */
}

h1 {
    font-family: var(--heading-font);
    color: #2b2400;
    top: 20px; /* Adjust as needed */
    margin-bottom: 10px;
    border-bottom: 1px solid #2b2400;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}