
* {
    font-family: sans-serif, serif; 
}

.top {
    background-color: rgb(222, 184, 12);
    text-align: center;
    padding: 0.5rem;
}
.top i {
    color: white;
}
body {
    background-color: #d9ddcd;
}
nav { /* Top panle */
    background-color: rgb(74, 27, 5);
    padding: 1rem;
    display: flex; /* Use flexbox */
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
}

nav a { /* Add the white in the letterinside top panle */
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: serif; 
}

nav a:hover {
    color: rgb(222, 184, 12);
    text-decoration: underline;
    text-decoration: bold;
    
}

.card {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: beige;
    color: #333;
    text-align: center;
    border-radius: 10px;
}
img {
    border-radius: 5px;
    width: 150px; /* Added unit */
    height: auto;
    border: 1px solid rgb(39, 36, 0);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p { 
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}
.card h1{
    color: #2b2400;
    border-bottom: 1px solid #2b2400;
}

.card h2{
    color: #2b2400;
    border-bottom: 1px solid #2b2400;
}

main {
    margin: 0 auto;
    align-items: center;
    align-tracks: center;
    max-width: 800px;
}